<p class="flow-text">

Paul is an I.T. and an experienced full-stack Java developer, consultant, trainer, google developer community lead, free and open source software advocate, and emerging technology evangelist. His many years of experiences in I.T. project management, systems integration, and software development helped him become an effective speaker to share information and knowledge to key communities in the bustling city of Cagayan de Oro.
    
</p>
<p class="flow-text">
    
Of his 7+ years professional experience, 4 years of it spent on variety of technical and software engineering work as a Team Lead and Technical Head, for a Social Media Company remotely and in parallel, worked as a Software Systems Consultant for a US Based company's remote and development team locally. Earlier in his career, he has been a reliable team member that specialize on working as part of an offshore consulting team at Orange and Bronze Software Labs. He was a software engineer and had been thoroughly contributing to the success of the company's offshore clients from the United States and Australia.
   
</p>
<p class="flow-text">

As a co-Community Manager of Google Developer Group Cagayan de Oro, Paul helps bring developers together developers locally and empowers them through technical skill building with Google. He supports active I.T. and education communities in the city, such as the ITGx, Google Developers Group Cagayan de Oro, and DevCon Cagayan de Oro, and has spoken in several tech conferences ocassionally.
    
</p>
<p class="flow-text">
    
He is an advocate of sound project and people management practices and occasionally speaks on these subjects. Paul is an alumnus of the Information Management at Xavier University - Ateneo de Cagayan.

</p>