<div class="row">
    <div class="col s12 m12">
        <div class="card-panel grey lighten-4">
            <p class="grey-text">
                You can also send him email directly on marvinlabis@gmail.com <strong>(THIS IS NOT DONE YET / ONGOING DEVELOPMENT)</strong>
            </p>
        </div>
    </div>
</div>


<div class="row">
    <form class="col s12">
       
        
        
        <div class="row">
            <div class="input-field col s12 m12 l6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="validate">
                <label for="name">Complete Name</label>
            </div>
            <div class="input-field col s12 m12 l6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email" data-error="Invalid">Email</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">subject</i>
              <input id="first_name2" type="text" class="validate">
              <label for="first_name2">Subject</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Message</label>
            </div>
        </div>
            
        <button class="btn waves-effect waves-light right" type="submit" name="action">Send
            <i class="material-icons right">send</i>
        </button>
        
    </form>
</div>
