<div class="row">
    <div class="col s12 m12">
        <div class="card-panel grey lighten-4">
            <span class="grey-text">
                His journey as guest speaker and community service over the years are summarized in the following:
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/sfd2015.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Play Framework for Java Developers</h5>
            </div>
            <div class="card-action">
                <span class="activator">September 19, 2015<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">September 19, 2015<i class="material-icons right">close</i></span>
                <p>
                    Software Freedom Day 2015
                    <br>Capitol University, Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/BalingasagITGx2015.png">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">The Foundations of ITGx Advocacy</h5>
            </div>
            <div class="card-action">
                <span class="activator">August 29, 2015<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">August 29, 2015<i class="material-icons right">close</i></span>
                <p>
                    Misamis Oriental Institute of Science and Technology
                    <br>Balingasag, Misamis Oriental 
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/XU2015.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Tools in Enterprise Java Development</h5>
            </div>
            <div class="card-action">
                <span class="activator">January 28, 2015<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">January 28, 2015<i class="material-icons right">close</i></span>
                <p>
                    Communications Hall
                    <br>Xavier University - Ateneo de Cagayan
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/devfest2014.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Google App Engine and Cloud Platform</h5>
            </div>
            <div class="card-action">
                <span class="activator">December 30, 2014<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">December 30, 2014<i class="material-icons right">close</i></span>
                <p>
                    Google DevFest Event
                    <br>NHotel 
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/spc2014.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Google App Engine and Cloud Platform</h5>
            </div>
            <div class="card-action">
                <span class="activator">October 24, 2014<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">October 24, 2014<i class="material-icons right">close</i></span>
                <p>
                    Student Counsil of Information Technology
                    <br>Southern Philippine College
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/play2014.jpeg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Introduction to Play Framework</h5>
            </div>
            <div class="card-action">
                <span class="activator">March 15, 2014<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">March 15, 2014<i class="material-icons right">close</i></span>
                <p>
                    Cleversoft Inc. Office
                    <br>Malagar Bldg, Mastersons Ave,
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/sfd2015.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Keynote - Emerging Open Source Technologies</h5>
            </div>
            <div class="card-action">
                <span class="activator">September 27, 2014<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">September 27, 2014<i class="material-icons right">close</i></span>
                <p>
                    Software Freedom Day 2014
                    <br>Capitol University 
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/nbcc2013.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Java Web Development Made Easy</h5>
            </div>
            <div class="card-action">
                <span class="activator">December 14, 2013<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">December 14, 2013<i class="material-icons right">close</i></span>
                <p>
                    New Government Center
                    <br>Manolo Fortich, Bukidnon
                    <br>Misamis Oriental
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/cocdevcon2013.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Java Software Development</h5>
            </div>
            <div class="card-action">
                <span class="activator">October 25, 2013<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">October 25, 2013<i class="material-icons right">close</i></span>
                <p>
                    DevCon PH
                    <br>Audio Visual Room 5th Floor, Main Building,
                    <br>Cagayan de Oro College,
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/cleversoftTraining2012.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Code Quality, Best Practices and Design Patterns</h5>
            </div>
            <div class="card-action">
                <span class="activator">October - September 2012
<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">September 27, 2014<i class="material-icons right">close</i></span>
                <p>
                    Cleversoft Inc.
                    <br>Malagar Bldg, Mastersons Ave,
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/cleversoftCertificate2012.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Agile Software Development and SCRUM</h5>
            </div>
            <div class="card-action">
                <span class="activator">September 29 2012<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">December 14, 2013<i class="material-icons right">close</i></span>
                <p>
                    Cleversoft Inc.
                    <br>Malagar Bldg, Mastersons Ave,
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/talk/tdd2012.jpg">
            </div>
            <div class="card-content grey-text text-darken-4">
                <h5 class="">Code Quality and Test Driven Development</h5>
            </div>
            <div class="card-action">
                <span class="activator">September 15, 2012<i class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">October 25, 2013<i class="material-icons right">close</i></span>
                <p>
                    Software Freedom Day 2012
                    <br>Audio Visual Room 3th Floor, CIT Building
                    <br>Capitol University,
                    <br>Cagayan de Oro City
                </p>
            </div>
        </div>
    </div>
</div>